<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>We're on a break</title>
  </head>
  <body>
    <h1>We'll be right back</h1>
    <p>The site is currently being updated! We'll be back soon. Keep missing us.</p>
  </body>
</html>
